.registrationForm{
    background-color: rgb(189, 189, 189);
}
.headingUser{
    font-size: 20px;
    font-weight: bold;
}
input.ng-touched.ng-invalid{
    border: 2px solid red;
 }
 
 .successreg{
        position: absolute;
        top: 257px;
        left: 506px;
}
.changeLang{
    position: absolute;
    top:13px;
    left:955px;
}
 
 